---
const today = new Date();
---

<footer>
    <p>
        &copy; {today.getFullYear()} Melody Makers. All rights reserved.
    </p>
    </footer>

    <style>
    footer {
        text-align: center;
        padding: 2rem;
        margin-top: 2rem;
        color: #666;
        font-size: 0.9rem;
    }
</style>